.course-card {
    width: 300px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.course-card:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.course-code {
    font-weight: bold;
    font-size: 20px;
}

.course-section {
    font-size: 18px;
}

.course-name {
    font-size: 16px;
}

.number-of-students {
    color: #888;
    font-size: 14px;
}
