.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 20%;
    width: 100%;
    /* background-image: url("../../../public/assets/images/xl-dispatch-bg.jpg"); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.logo {
    width: 275px;
    margin: 0px auto;
}