* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: var(--gray-100);
}
iframe#webpack-dev-server-client-overlay{display:none!important}


body {
  font-family: 'open-sans', sans-serif;
}

:root {

  /* Font Weight */
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;

  /* Box Shadows */
  --xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --sm: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
  --md: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.10);
  --lg: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  --xl: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
  --2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  --3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);

  --icon-bg: #e9ecef;
  --auth-input-text: #495057;
  --nav: #212529;
  --nav-child: #1a1e22;
  --nav-hover: #313539;

  /* Solids */
  --white: #ffffff;
  --black: #000000;

  /* Gray */
  --gray-25: #fcfcfd;
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-400: #98A2B3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #1d2939;
  --gray-900: #101828;

  /* Primary */
  --primary-25: #D7E3FA;
  --primary-50: #D7E3FA;
  --primary-100: #D7E3FA;
  --primary-200: #B1C7F5;
  --primary-300: #84A0E2;
  --primary-400: #5F7BC6;
  --primary-500: #324DA1;
  --primary-600: #243A8A;
  --primary-700: #192A73;
  --primary-800: #0F1C5D;
  --primary-900: #09134D;

  /* Error */
  --error-25: #fffbfa;
  --error-50: #fef3f2;
  --error-100: #fee4e2;
  --error-200: #fecdca;
  --error-300: #fda29b;
  --error-400: #f97066;
  --error-500: #f04438;
  --error-600: #d92d20;
  --error-700: #b42318;
  --error-800: #912018;
  --error-900: #7a271a;

  /* Warning */
  --warning-25: #fffcf5;
  --warning-50: #fffaeb;
  --warning-100: #fef0c7;
  --warning-200: #fedf89;
  --warning-300: #fec84b;
  --warning-400: #fdb022;
  --warning-500: #f79009;
  --warning-600: #dc6803;
  --warning-700: #854708;
  --warning-800: #93370d;
  --warning-900: #7a2e0e;

  /* Success */
  --success-25: #f6fef9;
  --success-50: #ecfdf3;
  --success-100: #d1fadf;
  --success-200: #a6f4c5;
  --success-300: #6ce9a6;
  --success-400: #32d583;
  --success-500: #12b76a;
  --success-600: #039855;
  --success-700: #027a48;
  --success-800: #05603a;
  --success-900: #054f31;

  /* Blue gray */
  --blue-gray-25: #fcfcfd;
  --blue-gray-50: #f8f9fc;
  --blue-gray-100: #eaecf5;
  --blue-gray-200: #d5d9eb;
  --blue-gray-300: #afb5d9;
  --blue-gray-400: #717bbc;
  --blue-gray-500: #4e5ba6;
  --blue-gray-600: #3e4784;
  --blue-gray-700: #363f72;
  --blue-gray-800: #293056;
  --blue-gray-900: #101323;

  /* Blue light */
  --blue-light-25: #f5fbff;
  --blue-light-50: #fdf9ff;
  --blue-light-100: #e0f2fe;
  --blue-light-200: #89e6fe;
  --blue-light-300: #7cd4fd;
  --blue-light-400: #36bffa;
  --blue-light-500: #0ba5ec;
  --blue-light-600: #0086c9;
  --blue-light-700: #026aa2;
  --blue-light-800: #065986;
  --blue-light-900: #0b4a6f;

  /* Blue */
  --blue-25: #f5faff;
  --blue-50: #eff8ff;
  --blue-100: #d1e9ff;
  --blue-200: #b2ddff;
  --blue-300: #84caff;
  --blue-400: #53b1fd;
  --blue-500: #2e90fa;
  --blue-600: #157def;
  --blue-700: #175cd3;
  --blue-800: #1849a9;
  --blue-900: #194185;
  
  /* Indigo */
  --indigo-25: #f5f8ff;
  --indigo-50: #eef4ff;
  --indigo-100: #e0eaff;
  --indigo-200: #c7d7fe;
  --indigo-300: #a4bcfd;
  --indigo-400: #8098f9;
  --indigo-500: #6172f3;
  --indigo-600: #444ce7;
  --indigo-700: #3538cd;
  --indigo-800: #2d31a6;
  --indigo-900: #2d3282;

  /* Purple */
  --purple-25: #fafaff;
  --purple-50: #f4f3ff;
  --purple-100: #ebe9fe;
  --purple-200: #d9d6fe;
  --purple-300: #bdb4fe;
  --purple-400: #9b8afb;
  --purple-500: #7a5afb;
  --purple-600: #6938ef;
  --purple-700: #5925dc;
  --purple-800: #4a1fb8;
  --purple-900: #3e1c96;
  
  /* Pink */
  --pink-25: #fef6fb;
  --pink-50: #fdf2fa;
  --pink-100: #fce7f6;
  --pink-200: #fcceee;
  --pink-300: #faa7e0;
  --pink-400: #f670c7;
  --pink-500: #ee46bc;
  --pink-600: #dd2590;
  --pink-700: #c11574;
  --pink-800: #9e165f;
  --pink-900: #851651;

  /* Rose */
  --rose-25: #fff5f6;
  --rose-50: #fff1f3;
  --rose-100: #ffefe8;
  --rose-200: #fecdd6;
  --rose-300: #fea3b4;
  --rose-400: #fd6f8e;
  --rose-500: #f63d68;
  --rose-600: #e31b54;
  --rose-700: #c01048;
  --rose-800: #a11043;
  --rose-900: #89123e;

  /* Orange */
  --orange-25: #fffaf5;
  --orange-50: #fff6ed;
  --orange-100: #ffead5;
  --orange-200: #fddcab;
  --orange-300: #feb273;
  --orange-400: #fd853a;
  --orange-500: #fb6514;
  --orange-600: #ec4a0a;
  --orange-700: #cd320a;
  --orange-800: #9c2a10;
  --orange-900: #7e2410;
}

/* load OpenSans fonts */

@font-face {
  font-family: open-sans;
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: open-sans-medium;
  font-style: normal;
  font-weight: 500;
  src: url('../public/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: open-sans-semibold;
  font-style: normal;
  font-weight: 600;
  src: url('../public/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: open-sans-bold;
  font-style: normal;
  font-weight: 700;
  src: url('../public/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}